{% extends 'Admin/admin index.html' %}
{% block body %}


<body>
<form action="/updateproduct" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="292" border="6"  class="table table-light" style="width:1200px;height:500px">
   <tr align="center"  class="table-secondary">
      <td colspan="10"><h2><b>EDIT PRODUCT</b></h2></td>

  </tr>
    <tr>
      <th>Product Name </th>
      <td><input type="text" name="textfield"  value="{{ i.pname }}"   style="width:206px;" required pattern="[A-Z a-z .]{2,25}"  /></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><textarea name="textarea"  style="width:206px;" required  >{{ i.description }}</textarea></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><select name="select" class="btn btn-light dropdown-toggle"  required>
          {% for j in val %}
          <option value="{{ j.id }}" {% if j.id == i.CATEGORY.id %}selected{% endif %}>{{ j.category }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td><input type="file" name="file" /><img src="{{ i.photo.url }}" width="100" height="130"></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><input type="text" name="textfield2" value="{{ i.price }}"  style="width:206px;" required  /></td>
    </tr>
    <tr>
      <th>Size</th>
        <td>
     <div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-light">
      <input type="checkbox" name="size" value="S" {% if 'S' in i.size %}checked{% endif %}> S
    </label>
    <label class="btn btn-light">
      <input type="checkbox" name="size" value="M" {% if 'M' in i.size %}checked{% endif %}> M
    </label>
    <label class="btn btn-light">
      <input type="checkbox" name="size" value="L" {% if 'L' in i.size %}checked{% endif %}> L
    </label>
    <label class="btn btn-light">
      <input type="checkbox" name="size" value="XL" {% if 'XL' in i.size %}checked{% endif %}> XL
    </label>
     <label class="btn btn-light">
      <input type="checkbox" name="size" value="XXL" {% if 'XXL' in i.size %}checked{% endif %}> XXL
    </label>
   </div>
 </td>
    </tr>

{#    <tr>#}
{#      <td>Stock</td>#}
{#      <td><input type="text" name="textfield3" /></td>#}
{#    </tr>#}
    <tr>
      <td colspan="7"><div align="center">
        <input type="submit" name="Submit" value="UPDATE"   class="btn btn-primary"/>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}