{% extends 'Admin/admin index.html' %}
{% block body %}

<body>
<div id="" style="overflow:scroll; height:500px;">
<form id="form1" name="form1" method="post" action="/searchproduct_a#about">
 <table width="492" height="216" border="1" class="table table-light">
   <tr align="center"  class="table-secondary">
      <td colspan="11"><h2><b>VIEW STOCK INFORMATION</b></h2></td>

  </tr>
    <tr>
      <th colspan="8">Name
      <input type="text" name="textfield" value="{{ name }}" />
      Category
      <select name="select"  class="btn btn-light dropdown-toggle" >
             {% for i in c %}
             <option value="{{ i.id }}" {% if i.id == cat %} selected {% endif %}>{{ i.category }}</option>
            {% endfor %}
      </select>
      <input type="submit" name="Submit" value="Search" class="btn btn-primary"/></th>
    </tr>
    <tr>
      <th >Product Name </th>
      <th >Description</th>
      <th>Category</th>

      <th>Price</th>
{#      <th>Size</th>#}
      <th >Date</th>
      <th>Stock</th>
        <th></th>
    </tr>
     {% for i in val %}
    <tr>
      <td><img src="{{ i.photo.url }}" width="100" height="130"><br>{{ i.pname }}&nbsp;</td>
      <td>{{ i.description }}</td>
      <td>&nbsp;{{ i.CATEGORY.category }}</td>
       <td>{{ i.price }}0</td>
{#       <td>{{ i.size }}</td>#}
      <td>{{ i.date }}</td>
      <td>{{ i.stock }}</td>
      <td></td>
    </tr>{% endfor %}
  </table>
</form></div>
</body>
</html>
{% endblock %}