<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="247" height="166" border="1">
    <tr>
      <td><a href="view_distributor">View Distributor</a></td>
    </tr>
      <tr>
      <td><a href="view_request_status">View request status</a></td>
    </tr>
    <tr>
      <td><a href="view_order">View orders and update</a></td>
    </tr>
       <tr>
      <td><a href="managebill">Bill Generation</a></td>
    </tr>
      <tr>
      <td><a href="view_returninfo">View return information</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
